header {
    background-color: var(--bg-dark);
    color: #000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--text-light);
    transition: transform 0.3s ease;
}

.header-oculto{
    transform: translateY(-100%);
}

header h1 {
    font-size: 1.5rem;
}

.logo{
    width: 44px;
    display: flex;
}

nav a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    border-radius: 10px;
}

nav a:last-child{
    background-color: #2c2c2c;
    border: 1px solid var(--text-light);
}

.logo:hover{
    transform: scaleY(-1);
    animation: animationLogo 2s infinite;
}

nav a:hover{
    border: 1px solid var(--text-light);
    background-color: #2c2c2c;
}

nav a:last-child:hover{
    background-color: #6c6c6c;
}

@media (max-width: 768px) {
    nav a{
    padding: 3px;
    background-color: transparent;
    border: 1px solid var(--text-light);
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    }

    header{
        justify-content: center;
    }
    header nav{
        display: flex;
        align-items: center;
    }
}