:root {
    --bg-dark: #343131;
    --primary: #D8A25E;
    --secondary: #EEDF7A;
    --text-light: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.6;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

header {
    background-color: var(--bg-dark);
    color: #000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--text-light);
    transition: transform 0.3s ease;
}

.header-oculto{
    transform: translateY(-100%);
}

header h1 {
    font-size: 1.5rem;
}

.logo{
    width: 44px;
    display: flex;
}

nav a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    border-radius: 10px;
}

section{
    position: relative;
}

.start{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    scroll-snap-align: start;
}

.start::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5dvh;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  pointer-events: none;
  z-index: 2;
}

.start-container{
    text-align: center;
    margin-bottom: 2em;
}

.start h2{
    font-size: 5vh;
}

.start h3{
    font-size: 12dvh;
}

.start strong{
    color: var(--primary);
    animation: colorLetra 2s infinite;
}

.start p{
    font-size: 2vh;
}

.linea-fondo {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  animation: moverLinea 5s linear infinite;
}

.renovar-btn{
    margin-top: 2em;
    background-color: var(--primary);
    color: var(--text-light);
    font-size: 2dvh;
    padding: 2dvh 3dvw;
}

.planes{
    padding: 4rem 2rem;
    background: linear-gradient(#BFA058, #F2F296);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    height: 50dvh;
}

.plan{
    background-color: var(--bg-dark);
    border-radius: 10px;
    padding: 1.5rem;
    width: 24vw;
    height: 32vh;
}

.plan h3 {
    color: var(--secondary);
    margin-bottom: 1rem;
}

.plan ul {
    margin-bottom: 1rem;
    list-style: none;
    padding-left: 1rem;
}

.plan li::before {
    content: "✔️ ";
    margin-right: 0.5rem;
}

.plan button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.plan-year{
    background-color: #A04747;
}

.button-week{
    color: var(--primary) !important;
    background-color: transparent !important;
    border: 1.5px solid var(--primary) !important;
}

.btn-plan a{
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.galeria {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.slide.activo {
  opacity: 1;
  z-index: 1;
}

.slide .info {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  padding: 20px;
  pointer-events: none;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  user-select: none;
}

.flecha.izquierda { left: 10px; }
.flecha.derecha { right: 10px; }


.contacto {
    padding: 4rem 2rem;
    text-align: center;
    background: linear-gradient(#222 10%, var(--bg-dark));
}

.contacto h2 {
    color: var(--secondary);
    margin-bottom: 2rem;
    font-size: 2.5em;
}

.contacto img {
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 10px;
    border: 1px solid var(--primary);
}

.contacto-formas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.forma {
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;
    flex: 1 1 250px;
    text-align: center;
    min-width: 300px;
}

.forma img {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.forma p {
    margin-bottom: 0.5rem;
}



footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary);
    color: #000;
}

.logo:hover{
    transform: scaleY(-1);
    animation: animationLogo 2s infinite;
}

button:hover{
    color: var(--bg-dark);
    background-color: var(--secondary);
}

.button-exercises:hover, .button-week:hover{
    color: var(--text-light) !important;
    background-color: var(--primary) !important;
}

    .whatsapp-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      background-color: #25D366;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      text-decoration: none;
      z-index: 9999;
      transition: transform 0.2s ease-in-out;
    }

    .whatsapp-btn:hover {
      transform: scale(1.1);
    }

    .whatsapp-btn img {
      border-radius: 100%;
      width: 80%;
      object-fit: cover;
      animation: moverLogo 2s infinite;
    }

@keyframes animationLogo {
    0%{
        transform: rotate(0deg)
    }
    20%{
        transform: rotate(140deg)
    }
    40%{
        transform: rotate(120deg)
    }
    60%{
        transform: rotate(300deg)
    }
    80%{
        transform: rotate(270deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

@keyframes moverLogo{
    0%{
        transform:translateY(-30px);
    }
    20%{
        transform: translateY(0px);
    }
    40%{
        transform: translateX(5px);
    }
    60%{
        transform: translateX(-5px);
    }
    80%{
        transform: translateX(0px);
    }
    100%{
        transform: translateY(-30px);
    }
}

@keyframes colorLetra {
    0%{
        color: var(--primary);
    }
    50%{
        color: var(--secondary);
    }
    100%{
        color: var(--primary);
    }
}

@keyframes moverLinea {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}