

.welcome {
    text-align: center;
    padding: 5rem 1rem;
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.welcome h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--text-light);
}

.welcome-buttons {
    margin: 2rem 0;
}

.welcome-buttons button {
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
}

.button-exercises{
    color: var(--primary) !important;
    background-color: transparent !important;
    border: 1.5px solid var(--primary) !important;
}

.welcome img {
    margin-top: 2rem;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

.bg-video {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  object-fit: cover;
  opacity: 0.15;
  z-index: -1;
}

.animatedBorder{
  padding: 4px;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--primary));
  background-size: 300% 300%;
  animation: borderColor 4s linear infinite;
  display: inline-block;
  border-radius: 10px;
}

.planes {
    padding: 4rem 2rem;
    background-color: #2c2c2c;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

.plan {
    background-color: var(--bg-dark);
    border-radius: 10px;
    padding: 1.5rem;
    width: 300px;
}

.plan h3 {
    color: var(--secondary);
    margin-bottom: 1rem;
}

.plan ul {
    margin-bottom: 1rem;
    list-style: none;
    padding-left: 1rem;
}

.plan li::before {
    content: "✔️ ";
    margin-right: 0.5rem;
}

.plan button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.plan-year{
    background-color: #A04747;
}

.button-week{
    color: var(--primary) !important;
    background-color: transparent !important;
    border: 1.5px solid var(--primary) !important;
}

.galeria {
    padding: 4rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
}

.galeria-texto {
    flex: 1 1 250px;
}

.galeria-texto p{
    text-decoration:underline;
}

.galeria-imagenes {
    flex: 2 1 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.desc{
    position: absolute;
    margin-top: 10em;
    margin-left: 2em;
    width: clamp(10%, 25%, 40%);
    text-align: center;
}

.imagen-item {
    text-align: center;
    position: relative;
}

.imagen-item img {
    width: 100%;
    border-radius: 10px;
}

.imagen-item p {
    margin-top: 0.5rem;
}

.contacto {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #2c2c2c;
}

.contacto h2 {
    color: var(--secondary);
    margin-bottom: 2rem;
    font-size: 2.5em;
}

.contacto img {
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 10px;
    border: 1px solid var(--primary);
}

.contacto-formas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.forma {
    background-color: #222;
    padding: 1rem;
    border-radius: 10px;
    flex: 1 1 250px;
    text-align: center;
    min-width: 300px;
}

.forma img {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.forma p {
    margin-bottom: 0.5rem;
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

#planes {
  scroll-margin-top: 60px;
}

#galeria {
  scroll-margin-top: 60px;
}

#contactos {
  scroll-margin-top: 60px;
}

button:hover{
    color: var(--bg-dark);
    background-color: var(--secondary);
}

.button-exercises:hover, .button-week:hover{
    color: var(--text-light) !important;
    background-color: var(--primary) !important;
}

section img:hover{
    box-shadow: 10px 10px 10px #222;
    transform: scale(1.01);
    filter: opacity(0.6);
    transition: filter .3s ease-in;
}

@keyframes animationLogo {
    0%{
        transform: rotate(0deg)
    }
    20%{
        transform: rotate(140deg)
    }
    40%{
        transform: rotate(120deg)
    }
    60%{
        transform: rotate(300deg)
    }
    80%{
        transform: rotate(270deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

@keyframes borderColor {
    0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 150% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}