@keyframes animationLogo {
    0%{
        transform: rotate(0deg)
    }
    20%{
        transform: rotate(140deg)
    }
    40%{
        transform: rotate(120deg)
    }
    60%{
        transform: rotate(300deg)
    }
    80%{
        transform: rotate(270deg)
    }
    100%{
        transform: rotate(360deg)
    }
}