:root {
    --bg-dark: #343131;
    --primary: #D8A25E;
    --secondary: #EEDF7A;
    --text-light: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.6;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

header {
    background-color: var(--bg-dark);
    color: #000;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--text-light);
    transition: transform 0.3s ease;
}

.header-oculto{
    transform: translateY(-100%);
}

header h1 {
    font-size: 1.5rem;
}

.logo{
    width: 44px;
    display: flex;
}

nav a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    border-radius: 10px;
}

.semanal{
    background-color: var(--bg-dark);
}

.mensual{
    background-color: var(--secondary);
}

.anual{
    background-color: var(--primary);
}

.galeria {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.slide.activo {
  opacity: 1;
  z-index: 1;
}

.slide .info {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  padding: 20px;
  pointer-events: none;
}

.info h2{
    font-size: 2em;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  user-select: none;
}

.flecha:hover{
    color: var(--bg-dark);
}

.flecha.izquierda { left: 10px; }
.flecha.derecha { right: 10px; }

.main{
 max-width: 70dvw;
 text-align: center;
}

.slide .info h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', monospace;
    color: #ffef9f;
}

.slide .main h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.slide ul {
    list-style: none;
    padding-left: 0;
    line-height: 1.8;
}

.slide ul li {
    font-size: 0.95rem;
    color: #e0dede;
}

.slide button {
    margin-top: 1.5rem;
    padding: 0.7rem 1.5rem;
    font-weight: bold;
    background-color: #d8a25e;
    border: none;
    border-radius: 8px;
    color: #222;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slide button:hover {
    background-color: #b97e35;
    color: #fff;
}

.slide.semanal {
    background-color: #2f2f2f;
}

.slide.mensual {
    background-color: #1e1e1e;
}

.slide.anual {
    background-color: #7b3f3f;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary);
    color: #000;
}

@keyframes animationLogo {
    0%{
        transform: rotate(0deg)
    }
    20%{
        transform: rotate(140deg)
    }
    40%{
        transform: rotate(120deg)
    }
    60%{
        transform: rotate(300deg)
    }
    80%{
        transform: rotate(270deg)
    }
    100%{
        transform: rotate(360deg)
    }
}